*.log
.DS_Store
.phpactor.json
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/.env
/.env.backup
/.env.production
/.phpunit.result.cache
/apps/status/.env
/apps/status/.env.backup
/apps/status/.env.production
/apps/status/.phpunit.result.cache
/apps/status/node_modules
/apps/status/public/build
/apps/status/public/hot
/apps/status/public/storage
/apps/status/storage/*.key
/apps/status/storage/pail
/apps/status/vendor
/packages/*/composer.lock
/packages/*/.phpunit.result.cache
/packages/*/vendor
Homestead.json
Homestead.yaml
Thumbs.db
